body {
    background-color: #050505;
    height: 100%;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.main {
    margin-top: 50px;
}

.name {
    text-align: center;
    color: white;
    text-decoration: underline overline;
}

img {
    border-radius: 50%;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.links {
    cursor: default;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    display: flex;
    overflow-x: visible;
}

li.icon a {
    display: block;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 500px;
    margin-right: 10px;
    display: inline;
    float: left;
    justify-content: center;
    text-decoration: none;
    color: white;
}

li.icon a:hover {
    background-color: grey;
}

li.icon a span {
    padding-right: 5px;
}

@keyframes blink {
   50% { border-color: #8a0505; }
}

@keyframes blink-plus {
   50% { border: 6px solid #8a0505; margin-top: -4px; margin-bottom: -4px; }
}

li.ntalk {
    margin: 20px
}

li.ntalk a {
    display: block;
    padding: 15px;
    border: 2px solid DimGrey;
    border-radius: 500px;
    margin-right: 10px;
    display: inline;
    float: left;
    justify-content: center;
    text-decoration: none;
    color: white;
    animation: blink-plus .5s step-end infinite alternate;
    box-sizing: content-box;
}

li.ntalk a:hover {
    background-color: grey;
}

li.ntalk a span {
    padding-right: 5px;
}

li.talk a {
    display: block;
    padding: 15px;
    border: 2px solid white;
    border-radius: 500px;
    margin-right: 10px;
    display: inline;
    float: left;
    justify-content: center;
    text-decoration: none;
    color: white;
}

li.talk a:hover {
    background-color: white;
}

li.talk a span {
    padding-right: 5px;
}

li.otalk a {
    display: block;
    padding: 15px;
    border: 2px solid DimGrey;
    border-radius: 500px;
    margin-right: 10px;
    display: inline;
    float: left;
    justify-content: center;
    text-decoration: none;
    color: DimGrey;
}

li.otalk a:hover {
    background-color: grey;
}

li.otalk a span {
    padding-right: 5px;
}

h2 {
    color: white;
    justify-content: center;
    text-align: center;
}

ul.navigation {
    cursor: default;
    list-style: none;
    padding-left: 0;
    justify-content: right;
    display: flex;
    overflow-x: visible;
}

.navigation li.icon a {
    display: block;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 0px;
    margin-right: 0px;
    display: inline;
    float: left;
    justify-content: center;
    font-weight: bold;    
    color: white;
}

.navigation li.icon a:hover {
    background-color: grey;
}

.navigation li.icon a span {
    padding-right: 5px;
}

ul.lnavigation {
    cursor: default;
    list-style: none;
    padding-left: 0;
    justify-content: left;
    display: inline;
    overflow-x: visible;
}

.lnavigation li.icon a {
    display: block;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 0px;
    margin-right: 0px;
    display: inline;
    float: left;
    justify-content: center;
    font-weight: bold;    
    color: white;
}

.lnavigation li.icon a:hover {
    background-color: grey;
}

.lnavigation li.icon a span {
    padding-right: 5px;
}

.event {
    display: block;
    padding: 30px;
    border: 3px solid white;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    margin-bottom: 20px;
    justify-content: center;
    font-weight: bold;    
    color: white;
    text-align: center;
}

.event a {
    display: block;
    float: center;
    justify-content: center;
    font-weight: bold;    
    color: white;
}

.oevent {
    display: block;
    padding: 30px;
    border: 3px solid grey;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    margin-bottom: 20px;
    justify-content: center;
    font-weight: bold;    
    color: DimGrey;
    text-align: center;
}

.oevent a {
    display: block;
    float: center;
    justify-content: center;
    font-weight: bold;    
    color: DimGrey;
}

.voevent {
    display: block;
    padding: 30px;
    border: 3px solid #202020;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    margin-bottom: 20px;
    justify-content: center;
    font-weight: bold;    
    color: #202020;
    text-align: center;
}

.voevent a {
    display: block;
    float: center;
    justify-content: center;
    font-weight: bold;    
    color: #202020;
}

li.votalk a {
    display: block;
    padding: 15px;
    border: 2px solid #202020;
    border-radius: 500px;
    margin-right: 10px;
    display: inline;
    float: left;
    justify-content: center;
    text-decoration: none;
    color: #202020;
}

li.votalk a:hover {
    background-color: #202020;
}

li.votalk a span {
    padding-right: 5px;
}
